In [1]:
# 서울 2017 자치구별 생활인구 데이터

import pandas as pd
import numpy as np
import unicodecsv as csv

# data = pd.read_csv(open('data/LOCAL_PEOPLE_201701/LOCAL_PEOPLE_20170101.csv','rb'))

In [5]:
data = data[["기준일ID", '행정동코드',"총생활인구수"]]

In [7]:
type(data.행정동코드[0])

numpy.int64

In [8]:
data.행정동코드 = data.행정동코드.apply(lambda d: d//1000) # 행정동코드를 행정구코드로 변환

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [12]:
dpop = data.groupby("행정동코드")['총생활인구수'].sum()

In [17]:
dpop = dpop.to_frame()

In [140]:
def extractdpop(dloc):
    data = pd.read_csv(open(dloc, 'rb'))
    data = data[["기준일ID",'행정동코드','총생활인구수']]
    data.행정동코드 = data.행정동코드.apply(lambda d: d//1000)
    dpop = data.groupby('행정동코드')['총생활인구수'].sum()
    dpop = dpop.to_frame()
    return dpop

In [142]:
df = extractdpop('data/LOCAL_PEOPLE_201701/LOCAL_PEOPLE_20170101.csv')
df

         총생활인구수
행정동코드
11110   6157755
11140   4600891
11170   6880765
11200   7581365
11215   9254828
11230   8551156
11260   9357680
11290  10507790
11305   7972139
11320   7754913
11350  13519221
11380  11468097
11410   8307728
11440  10991711
11470  10689197
11500  13520876
11530   9793675
11545   4959238
11560  10365974
11590   9993803
11620  12687378
11650  12669165
11680  16020049
11710  17608157
11740  12117330

In [156]:
data = pd.read_csv(open('data/LOCAL_PEOPLE_201701/LOCAL_PEOPLE_20170101.csv','rb'))

In [157]:
data = data[['행정동코드','총생활인구수']]

In [158]:
data.행정동코드 = data.행정동코드.apply(lambda d: d//1000)

In [161]:
# sumpop = data.groupby(['행정동코드'])['총생활인구수'].sum()
# meanpop = data.groupby('행정동코드')['총생활인구수'].mean() * len(data.groupby('행정동코드')['총생활인구수'])
dff = data.groupby(['행정동코드'])['총생활인구수']

In [164]:
# sumpop = dpop.to_frame()
data

        행정동코드  총생활인구수
0       11110     511
1       11110     503
2       11110     405
3       11110     161
4       11110     515
5       11110     267
6       11110     239
7       11110     683
8       11110    1031
9       11110     659
10      11110     299
11      11110     340
12      11110     328
13      11110     621
14      11110     845
15      11110     355
16      11110     874
17      11110     747
18      11110     773
19      11110     724
20      11110      87
21      11110    1229
22      11110    2608
23      11110     944
24      11110     132
25      11110     955
26      11110     563
27      11110    1487
28      11110    1580
29      11110    1185
...       ...     ...
459424  11740    1176
459425  11740    1342
459426  11740     936
459427  11740       9
459428  11740     628
459429  11740     968
459430  11740     142
459431  11740    1404
459432  11740     290
459433  11740     951
459434  11740     332
459435  11740     223
459436  11740     442
459437  11740     925
459438  11740    1037
459439  11740     863
459440  11740     794
459441  11740     328
459442  11740    1056
459443  11740     333
459444  11740     323
459445  11740    1715
459446  11740     331
459447  11740    1514
459448  11740     284
459449  11740     923
459450  11740     235
459451  11740     729
459452  11740    1151
459453  11740     662

[459454 rows x 2 columns]

In [153]:
meanpop

행정동코드
11110    21743.485169
11140    19561.611395
11170    16439.136563
11200    13854.833699
11215    14562.606999
11230    12890.671732
11260    12354.351500
11290    12499.750190
11305    13040.007524
11320    11775.560313
11350    12277.699978
11380    12627.837606
11410    13868.402778
11440    15472.566160
11470    12168.940118
11500    12388.561481
11530    12696.633219
11545    11693.006696
11560    14918.504980
11590    13432.530914
11620    13582.753083
11650    15258.171548
11680    15472.328569
11710    14779.879298
11740    14902.265348
Name: 총생활인구수, dtype: float64

In [29]:
for m in range(201701,201713):
    month = str(m)
    location = "data/LOCAL_PEOPLE_" + month
    for d in range(1,32):
        try:
            if (d // 10) == 0:
                day = "0" + str(d)
            else:
                day = str(d)
            dloc = location + "/LOCAL_PEOPLE_" + month + day + '.csv'
            if d == 1:
                dpop = extractdpop(dloc)
            else:
                dpop = pd.concat([dpop,extractdpop(dloc)], axis = 1)
        except FileNotFoundError:
            pass
    if m==201701:
        mpop = dpop
    else:
        mpop = pd.concat([mpop, dpop], axis = 1)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3185: DtypeWarning: Columns (5,6,8,9,10,11,12,13,14,15,16,17,18,19,22,23,24,25,26,27,28,29,30,31,32) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

In [30]:
mpop

,총생활인구수,총생활인구수,총생활인구수,총생활인구수,총생활인구수,총생활인구수,총생활인구수,총생활인구수,총생활인구수,총생활인구수,...,총생활인구수,총생활인구수,총생활인구수,총생활인구수,총생활인구수,총생활인구수,총생활인구수,총생활인구수,총생활인구수,총생활인구수
행정동코드,,,,,,,,,,,,,,,,,,,,,
11110,6157755,8030175,8477909,8633150,8462751,8704143,7413691,6424942,8425987,8590897,...,8890806,7562219,6869721,6953973,8370097,8581098,8619658,8329763,7048053,6653557
11140,4600891,7445179,7947516,8005278,7921036,8184944,6000034,4981326,7978005,8126239,...,8184481,6361531,5507536,5909933,7841951,7962623,8052033,7807279,5610877,5049247
11170,6880765,7207962,7322713,7333636,7310499,7544256,7336887,7076686,7370485,7344950,...,7573465,7462923,7330048,7240867,7318592,7355912,7369936,7412229,7104465,7050947
11200,7581365,8206665,8286216,8275840,8248298,8271866,7947649,7670806,8291760,8327799,...,8591463,8213776,7860865,7968000,8533671,8536840,8521922,8459624,8014958,7693730
11215,9254828,8984139,9005627,8999333,9050827,9104979,9490682,9393498,9073888,9029483,...,9332881,9573576,9481728,9586607,9263104,9237395,9243430,9320159,9398639,9259266
11230,8551156,8840046,8887863,8907666,8885816,8892377,8859476,8876561,8981969,8915631,...,9222817,9147248,8977924,9042728,9104410,9066414,9076795,9060412,8907781,8754310
11260,9357680,8828459,8709498,8696887,8746548,8643450,9051336,9327962,8735292,8694139,...,8653275,9101855,9272139,9392222,8783417,8753069,8738852,8784130,9190598,9251655
11290,10507790,10186009,10141767,10148778,10183915,10101856,10332918,10656096,10200083,10181935,...,10505961,10577554,10692800,10737007,10445007,10407150,10365566,10341197,10482572,10428708
11305,7972139,7489090,7406804,7365661,7382658,7340225,7713227,7956655,7397323,7366590,...,7348296,7640346,7851875,7839183,7396772,7352741,7334404,7383263,7720053,7785744
11320,7754913,7226463,7143193,7137476,7136328,7081118,7371601,7676164,7163164,7117679,...,7084210,7402061,7554358,7573786,7173287,7132445,7117754,7125015,7453181,7566654
11350,13519221,12956309,12867205,12816436,12864820,12754360,13273333,13586754,12824533,12782544,...,12705994,13073591,13204280,13277962,12777609,12726224,12691833,12717791,13132871,13086455
11380,11468097,10660870,10577099,10567290,10638727,10469314,11070900,11403008,10555827,10527565,...,10649195,11255289,11430158,11534238,10836704,10773362,10741629,10804768,11280395,11304737
11410,8307728,8518892,8526328,8557725,8542528,8539815,8432777,8499062,8533015,8589494,...,8969573,8754229,8613477,8681017,8806131,8849761,8835058,8756862,8483403,8284667
11440,10991711,11634904,11751198,11801182,11798565,12017007,11796317,11336735,11749525,11795624,...,11896940,11726096,11259908,11382773,11658404,11672179,11725568,11774276,11291808,10838393
11470,10689197,10299495,10182761,10125855,10125989,10062652,10459774,10674944,10207166,10150661,...,9653048,9963636,10047600,10097515,9775069,9737217,9705278,9776599,10041765,9990746
11500,13520876,13144564,13018377,12992795,13073105,12922248,13346636,13584854,13022141,12956572,...,13120118,13488492,13435144,13629564,13221546,13191866,13162602,13163634,13416051,13274945
11530,9793675,10071729,10024307,10004027,9964488,9928038,9857385,10060975,10026888,9983039,...,9778225,9642101,9723232,9825284,9894723,9891704,9853963,9810921,9753038,9878517
11545,4959238,5746328,5681283,5641946,5599443,5604739,4951249,4897954,5702277,5740472,...,5666097,5087513,5010627,5135417,5747794,5745223,5736210,5580947,5064873,5003154
11560,10365974,12064104,12168432,12178943,12022413,12224248,10939598,10614442,12168641,12182348,...,12364223,11262727,11049593,11043670,12213077,12296320,12263666,12176421,10906108,10900513
11590,9993803,10083171,10072376,10119900,10170388,10066403,10259977,10325070,10179503,10186294,...,9804964,9904052,9744074,9895602,9803064,9788703,9787936,9734915,9797033,9544543
11620,12687378,12222345,12150733,12100955,12216408,12100294,12724921,13055866,12181648,12120196,...,11825211,12348343,12446438,12536500,11926918,11939922,11898264,11957544,12222458,12066712
11650,12669165,15422590,15733740,15852245,15727173,16110958,14378954,13368355,15848334,15999863,...,15580156,13944185,12751108,12818356,15178603,15291084,15343749,15107467,13427487,12505002
11680,16020049,21305927,21995819,21969038,21745725,21994220,19042147,17115999,21695324,21921380,...,21248968,18211421,16660069,16340273,20677496,21094107,21193750,20644234,17666088,16080844
11710,17608157,18124565,18332501,18327963,18326530,18390882,18375508,18131711,18227075,18194495,...,18332923,18395549,18185933,18404982,18250590,18235853,18352311,18368743,18134888,18206796
11740,12117330,11708185,11587038,11557780,11590705,11525934,11853183,12162487,11602786,11580308,...,11515267,11814949,11956911,12037649,11632999,11572829,11545319,11632825,11839175,11887897

In [31]:
mpop.to_csv("data/livingpopulation.csv", sep=',', na_rep="NaN", encoding = "cp949")

In [47]:
livingpop = mpop.mean(axis=1)

In [48]:
livingpop = livingpop.to_frame()

In [49]:
livingpop = livingpop.reset_index()

In [38]:
gucode = pd.read_excel(open('data/자치구코드.xlsx','rb'), sheet_name='유입지코드')

In [50]:
gulivingpop = pd.concat([livingpop, gucode], axis=1)

In [52]:
gulivingpop = gulivingpop.drop(['행정동코드','행정동코드'],axis =1)

In [54]:
gulivingpop.columns = ['평균생활인구','자치구']

In [56]:
gulivingpop = pd.DataFrame(gulivingpop, columns = ['자치구','평균생활인구'])

In [60]:
gulivingpop = gulivingpop.sort_values(by="자치구")

In [62]:
gulivingpop.to_csv("data/구별생활인구.csv", sep=',', na_rep="NaN", encoding = "cp949")

# 변수 1(생활인구 자료) 생성

In [2]:
surveyrep = pd.read_excel(open('data/surveyreprawdata.xlsx','rb'), sheet_name='Sheet3')

In [3]:
surveyrep

        gu  FAM1  FAM2  SQ0_3  SQ1_4  INC
0      320     2     2      2      1    5
1      320     5     5      3      1    9
2      320     3     2      3      1    6
3      320     1     1      2      2    7
4      320     1     1      3      2    4
5      320     1     1      3      2    7
6      320     1     1      3      2    9
7      320     1     1      3      2    5
8      320     4     2      1      1    9
9      320     2     2      1      1    9
10     320     4     4      1      5    9
11     320     3     3      1      1   15
12     320     4     3      1      1   10
13     320     1     1      1      3    5
14     320     4     2      3      1    7
15     320     2     2      1      1   11
16     320     3     2      2      1    6
17     320     3     3      1      1   11
18     320     2     2      2      1    5
19     320     3     3      1      1    3
20     320     2     2      1      1    9
21     320     2     2      1      2    9
22     320     4     2      1      1    6
23     320     1     1      1      5    2
24     320     4     3      1      1   17
25     320     1     1      1      5    2
26     320     3     3      1      1    3
27     320     4     2      1      1   11
28     320     3     3      1      1    7
29     320     2     2      2      1    4
...    ...   ...   ...    ...    ...  ...
19970  740     4     4      1      1   11
19971  740     4     4      1      1    8
19972  740     4     4      1      1   10
19973  740     4     2      1      1    8
19974  740     4     4      1      1    7
19975  740     4     2      2      1    7
19976  740     2     2      1      1    6
19977  740     4     4      1      1   15
19978  740     7     5      2      1   18
19979  740     4     4      2      1   19
19980  740     3     3      1      1   17
19981  740     4     4      1      1   18
19982  740     3     3      1      1   12
19983  740     4     4      1      1   19
19984  740     3     3      1      1   19
19985  740     4     4      1      1   14
19986  740     3     3      1      1    9
19987  740     3     2      2      1    7
19988  740     1     1      1      5    2
19989  740     3     2      2      1   15
19990  740     3     3      1      1   13
19991  740     3     2      1      3    9
19992  740     4     4      1      1   15
19993  740     1     1      1      5    2
19994  740     3     3      1      1   13
19995  740     3     3      3      1   16
19996  740     3     3      2      5    9
19997  740     1     1      1      5    2
19998  740     3     2      2      3   13
19999  230     1     1      2      2    9

[20000 rows x 6 columns]

In [69]:
# surveyrep.gu.unique()
meanfam1rep = surveyrep.groupby("gu")['FAM1'].mean()
meanfam2rep = surveyrep.groupby("gu")['FAM2'].mean()
meanhousingrep = surveyrep.groupby("gu")['SQ0_3'].mean()
meanmarrep = surveyrep.groupby("gu")['SQ1_4'].mean()
meanincomerep = surveyrep.groupby("gu")['INC'].mean()

In [70]:
meanfam1

gu
110    2.594697
140    2.234177
170    2.378981
200    2.673669
215    2.259166
230    2.449809
260    2.538829
290    2.329439
305    2.579515
320    2.866485
350    2.653433
380    2.655481
410    2.767760
440    2.649080
470    2.503001
500    2.448692
530    2.797808
545    2.680187
560    2.332918
590    2.221951
620    2.504008
650    2.536970
680    2.609654
710    2.520751
740    2.903226
Name: FAM1, dtype: float64

In [4]:
surveyall = pd.read_excel(open('data/surveyallrawdata.xlsx','rb'), sheet_name='Sheet3')

In [75]:
surveyall.columns

Index(['gu', 'FAM1', 'FAM2', 'SQ0_3', 'SQ1_4', 'INC', 'AQ12A9', 'AQ29',
       'AQ49A3', 'ADQ3_4'],
      dtype='object')

In [64]:
mean_danger_all = surveyall.groupby("gu")['AQ12A9'].mean()
mean_ses_all = surveyall.groupby("gu")['AQ29'].mean()
mean_night_all = surveyall.groupby("gu")['AQ49A3'].mean()

In [65]:
#변수 3개

mean_danger_all = mean_danger_all.to_frame()
mean_ses_all = mean_ses_all.to_frame()
mean_night_all = mean_night_all.to_frame()

In [66]:
mean_danger_all.columns = ["주관적위험"]
mean_ses_all.columns = ["주관적ses"]
mean_night_all.columns = ["야간보행만족도"]

In [51]:
# num_fam = surveyrep.groupby("gu")["FAM1"].value_counts(normalize=True).to_frame()



oneperson = {}
for gu, gudata in surveyrep.groupby("gu"):
    oneperson[gu] = (gudata.FAM1 == 1).sum() / len(gudata.FAM1)


oneperson = pd.DataFrame.from_dict(oneperson, orient = 'index')

pandas.core.frame.DataFrame

In [52]:
oneperson.columns = ["1인가구비율"]

In [53]:
oneperson #변수 1개

       1인가구비율
110  0.166667
140  0.286920
170  0.186306
200  0.187675
215  0.254109
230  0.313850
260  0.204301
290  0.185748
305  0.218329
320  0.132153
350  0.184549
380  0.161074
410  0.169399
440  0.212270
470  0.189676
500  0.246479
530  0.142509
545  0.152886
560  0.231920
590  0.302439
620  0.231463
650  0.181818
680  0.189927
710  0.210474
740  0.131422

In [54]:
highinc = {}
for gu, gudata in surveyrep.groupby("gu"):
    highinc[gu] = (gudata.INC >= 11).sum() / len(gudata.INC)


highinc = pd.DataFrame.from_dict(highinc, orient = 'index')

In [56]:
highinc.columns = ['월500이상']

In [57]:
onepersonmonth = {}
for gu, gudata in surveyrep.groupby("gu"):
    onepersonmonth[gu] = ((gudata.FAM1 == 1)&((gudata.SQ0_3 == 3)|(gudata.SQ0_3 == 4)|(gudata.SQ0_3 == 3))).sum() / len(gudata.FAM1)


onepersonmonth = pd.DataFrame.from_dict(onepersonmonth, orient = 'index')

In [59]:
onepersonmonth.columns = ['1인월세']

In [101]:
variableset = pd.concat([oneperson, onepersonmonth, highinc, mean_danger_all, mean_ses_all, mean_night_all], axis=1)

In [102]:
variableset = variableset.reset_index()
variableset

     gu    1인가구비율      1인월세    월500이상     주관적위험    주관적ses   야간보행만족도
0   110  0.166667  0.051136  0.285985  2.500000  6.511649  2.853047
1   140  0.286920  0.130802  0.299578  2.466450  6.155844  2.812771
2   170  0.186306  0.068471  0.324841  2.573449  6.309505  2.855460
3   200  0.187675  0.089636  0.383754  2.470277  6.417437  2.780053
4   215  0.254109  0.112516  0.271808  2.405000  6.156875  2.781875
5   230  0.313850  0.138501  0.162643  2.489960  5.945114  2.701473
6   260  0.204301  0.084827  0.307049  2.402125  6.241611  2.771812
7   290  0.185748  0.049065  0.300234  2.405822  6.359589  2.801941
8   305  0.218329  0.074124  0.249326  2.474149  6.360025  2.681589
9   320  0.132153  0.038147  0.317439  2.453263  6.496179  2.850088
10  350  0.184549  0.056867  0.177039  2.535426  5.954351  2.708036
11  380  0.161074  0.067114  0.178971  2.411556  6.013178  2.677141
12  410  0.169399  0.068306  0.288251  2.353828  5.919954  2.875290
13  440  0.212270  0.074847  0.322699  2.343316  6.251337  2.927807
14  470  0.189676  0.031212  0.349340  2.559659  6.340341  2.806250
15  500  0.246479  0.085513  0.298793  2.582673  6.051485  2.811386
16  530  0.142509  0.068210  0.282582  2.368588  6.037546  2.702803
17  545  0.152886  0.071763  0.262090  2.487460  6.212862  2.913826
18  560  0.231920  0.110973  0.230673  2.518909  6.469312  2.613143
19  590  0.302439  0.093902  0.196341  2.427424  5.953057  2.601606
20  620  0.231463  0.119238  0.167335  2.532593  6.129889  2.713665
21  650  0.181818  0.067879  0.448485  2.557932  6.433749  2.602496
22  680  0.189927  0.081847  0.503673  2.426112  6.345289  2.676710
23  710  0.210474  0.058300  0.431818  2.504812  6.229548  2.700192
24  740  0.131422  0.045400  0.229391  2.352225  6.026483  2.613877

In [94]:
gucode1 = pd.read_excel(open("data/구코드.xlsx", "rb"), sheet_name = "Sheet1")

In [103]:
variableset = pd.concat([gucode1, variableset], axis=1)

variableset
variableset = variableset.drop(['코드','gu'],axis = 1)
variableset = variableset.sort_values(by = '자치구')

variableset

     자치구    1인가구비율      1인월세    월500이상     주관적위험    주관적ses   야간보행만족도
22   강남구  0.189927  0.081847  0.503673  2.426112  6.345289  2.676710
24   강동구  0.131422  0.045400  0.229391  2.352225  6.026483  2.613877
8    강북구  0.218329  0.074124  0.249326  2.474149  6.360025  2.681589
15   강서구  0.246479  0.085513  0.298793  2.582673  6.051485  2.811386
20   관악구  0.231463  0.119238  0.167335  2.532593  6.129889  2.713665
4    광진구  0.254109  0.112516  0.271808  2.405000  6.156875  2.781875
16   구로구  0.142509  0.068210  0.282582  2.368588  6.037546  2.702803
17   금천구  0.152886  0.071763  0.262090  2.487460  6.212862  2.913826
10   노원구  0.184549  0.056867  0.177039  2.535426  5.954351  2.708036
9    도봉구  0.132153  0.038147  0.317439  2.453263  6.496179  2.850088
5   동대문구  0.313850  0.138501  0.162643  2.489960  5.945114  2.701473
19   동작구  0.302439  0.093902  0.196341  2.427424  5.953057  2.601606
13   마포구  0.212270  0.074847  0.322699  2.343316  6.251337  2.927807
12  서대문구  0.169399  0.068306  0.288251  2.353828  5.919954  2.875290
21   서초구  0.181818  0.067879  0.448485  2.557932  6.433749  2.602496
3    성동구  0.187675  0.089636  0.383754  2.470277  6.417437  2.780053
7    성북구  0.185748  0.049065  0.300234  2.405822  6.359589  2.801941
23   송파구  0.210474  0.058300  0.431818  2.504812  6.229548  2.700192
14   양천구  0.189676  0.031212  0.349340  2.559659  6.340341  2.806250
18  영등포구  0.231920  0.110973  0.230673  2.518909  6.469312  2.613143
2    용산구  0.186306  0.068471  0.324841  2.573449  6.309505  2.855460
11   은평구  0.161074  0.067114  0.178971  2.411556  6.013178  2.677141
0    종로구  0.166667  0.051136  0.285985  2.500000  6.511649  2.853047
1     중구  0.286920  0.130802  0.299578  2.466450  6.155844  2.812771
6    중랑구  0.204301  0.084827  0.307049  2.402125  6.241611  2.771812

In [104]:
variableset = variableset.reset_index()

In [105]:
variableset

    index   자치구    1인가구비율      1인월세    월500이상     주관적위험    주관적ses   야간보행만족도
0      22   강남구  0.189927  0.081847  0.503673  2.426112  6.345289  2.676710
1      24   강동구  0.131422  0.045400  0.229391  2.352225  6.026483  2.613877
2       8   강북구  0.218329  0.074124  0.249326  2.474149  6.360025  2.681589
3      15   강서구  0.246479  0.085513  0.298793  2.582673  6.051485  2.811386
4      20   관악구  0.231463  0.119238  0.167335  2.532593  6.129889  2.713665
5       4   광진구  0.254109  0.112516  0.271808  2.405000  6.156875  2.781875
6      16   구로구  0.142509  0.068210  0.282582  2.368588  6.037546  2.702803
7      17   금천구  0.152886  0.071763  0.262090  2.487460  6.212862  2.913826
8      10   노원구  0.184549  0.056867  0.177039  2.535426  5.954351  2.708036
9       9   도봉구  0.132153  0.038147  0.317439  2.453263  6.496179  2.850088
10      5  동대문구  0.313850  0.138501  0.162643  2.489960  5.945114  2.701473
11     19   동작구  0.302439  0.093902  0.196341  2.427424  5.953057  2.601606
12     13   마포구  0.212270  0.074847  0.322699  2.343316  6.251337  2.927807
13     12  서대문구  0.169399  0.068306  0.288251  2.353828  5.919954  2.875290
14     21   서초구  0.181818  0.067879  0.448485  2.557932  6.433749  2.602496
15      3   성동구  0.187675  0.089636  0.383754  2.470277  6.417437  2.780053
16      7   성북구  0.185748  0.049065  0.300234  2.405822  6.359589  2.801941
17     23   송파구  0.210474  0.058300  0.431818  2.504812  6.229548  2.700192
18     14   양천구  0.189676  0.031212  0.349340  2.559659  6.340341  2.806250
19     18  영등포구  0.231920  0.110973  0.230673  2.518909  6.469312  2.613143
20      2   용산구  0.186306  0.068471  0.324841  2.573449  6.309505  2.855460
21     11   은평구  0.161074  0.067114  0.178971  2.411556  6.013178  2.677141
22      0   종로구  0.166667  0.051136  0.285985  2.500000  6.511649  2.853047
23      1    중구  0.286920  0.130802  0.299578  2.466450  6.155844  2.812771
24      6   중랑구  0.204301  0.084827  0.307049  2.402125  6.241611  2.771812

In [117]:
guliving = pd.read_csv(open("data/구별생활인구.csv", "rb"), encoding = 'cp949')

In [120]:
guliving = guliving.drop(['자치구'], axis=1)

In [125]:
variableset1 = pd.concat([variableset, guliving], axis = 1)

In [123]:
variableset1.columns
variableset1 = variableset.drop(['index'], axis = 1)

In [126]:
variableset1

,index,자치구,1인가구비율,1인월세,월500이상,주관적위험,주관적ses,야간보행만족도,평균생활인구
0,22,강남구,0.189927,0.081847,0.503673,2.426112,6.345289,2.676710,1.981081e+07
1,24,강동구,0.131422,0.045400,0.229391,2.352225,6.026483,2.613877,1.167084e+07
2,8,강북구,0.218329,0.074124,0.249326,2.474149,6.360025,2.681589,7.417681e+06
3,15,강서구,0.246479,0.085513,0.298793,2.582673,6.051485,2.811386,1.305542e+07
4,20,관악구,0.231463,0.119238,0.167335,2.532593,6.129889,2.713665,1.202520e+07
5,4,광진구,0.254109,0.112516,0.271808,2.405000,6.156875,2.781875,9.120788e+06
6,16,구로구,0.142509,0.068210,0.282582,2.368588,6.037546,2.702803,9.640065e+06
7,17,금천구,0.152886,0.071763,0.262090,2.487460,6.212862,2.913826,5.377082e+06
8,10,노원구,0.184549,0.056867,0.177039,2.535426,5.954351,2.708036,1.287837e+07
9,9,도봉구,0.132153,0.038147,0.317439,2.453263,6.496179,2.850088,7.232341e+06
10,5,동대문구,0.313850,0.138501,0.162643,2.489960,5.945114,2.701473,8.968732e+06
11,19,동작구,0.302439,0.093902,0.196341,2.427424,5.953057,2.601606,9.964677e+06
12,13,마포구,0.212270,0.074847,0.322699,2.343316,6.251337,2.927807,1.155787e+07
13,12,서대문구,0.169399,0.068306,0.288251,2.353828,5.919954,2.875290,8.711150e+06
14,21,서초구,0.181818,0.067879,0.448485,2.557932,6.433749,2.602496,1.473697e+07
15,3,성동구,0.187675,0.089636,0.383754,2.470277,6.417437,2.780053,8.257649e+06
16,7,성북구,0.185748,0.049065,0.300234,2.405822,6.359589,2.801941,1.053691e+07
17,23,송파구,0.210474,0.058300,0.431818,2.504812,6.229548,2.700192,1.796912e+07
18,14,양천구,0.189676,0.031212,0.349340,2.559659,6.340341,2.806250,9.856272e+06
19,18,영등포구,0.231920,0.110973,0.230673,2.518909,6.469312,2.613143,1.157088e+07
20,2,용산구,0.186306,0.068471,0.324841,2.573449,6.309505,2.855460,7.231509e+06
21,11,은평구,0.161074,0.067114,0.178971,2.411556,6.013178,2.677141,1.072766e+07
22,0,종로구,0.166667,0.051136,0.285985,2.500000,6.511649,2.853047,8.061536e+06
23,1,중구,0.286920,0.130802,0.299578,2.466450,6.155844,2.812771,7.288202e+06
24,6,중랑구,0.204301,0.084827,0.307049,2.402125,6.241611,2.771812,8.772325e+06

In [127]:
variableset2 = pd.read_csv(open("data/csvcrimepop.csv", "rb"), encoding = 'cp949')

In [128]:
finalvs = pd.concat([variableset1, variableset2], axis =1)

In [134]:
crime2016 = pd.read_excel(open("data/crime2016.xls", "rb"), sheet_name = "Sheet2")

In [136]:
crime2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
자치구     25 non-null object
합계16    25 non-null int64
dtypes: int64(1), object(1)
memory usage: 480.0+ bytes

In [137]:
finalvs = pd.concat([finalvs, crime2016], axis = 1)

In [138]:
finalvs

,index,자치구,1인가구비율,1인월세,월500이상,주관적위험,주관적ses,야간보행만족도,평균생활인구,Unnamed: 0,...,인구,인구수당편의점수,인구수당범죄합계,인구수당살인,인구수당강도,인구수당성폭력,인구수당절도,인구수당폭력,자치구,합계16
0,22,강남구,0.189927,0.081847,0.503673,2.426112,6.345289,2.676710,1.981081e+07,0,...,556164,1.485173,13.880798,0.012586,0.035961,1.091405,5.627836,7.113010,강남구,8149
1,24,강동구,0.131422,0.045400,0.229391,2.352225,6.026483,2.613877,1.167084e+07,1,...,436223,0.538715,9.767940,0.011462,0.022924,0.394294,3.771007,5.568253,강동구,4462
2,8,강북구,0.218329,0.074124,0.249326,2.474149,6.360025,2.681589,7.417681e+06,2,...,324479,0.711910,10.456763,0.024655,0.021573,0.641028,3.125010,6.644498,강북구,4229
3,15,강서구,0.246479,0.085513,0.298793,2.582673,6.051485,2.811386,1.305542e+07,3,...,601691,0.182818,8.534281,0.018282,0.006648,0.525187,3.137823,4.846341,강서구,5450
4,20,관악구,0.231463,0.119238,0.167335,2.532593,6.129889,2.713665,1.202520e+07,4,...,503297,0.606004,10.977614,0.015895,0.013908,0.753034,3.932072,6.262704,관악구,5678
5,4,광진구,0.254109,0.112516,0.271808,2.405000,6.156875,2.781875,9.120788e+06,5,...,357703,0.458481,12.988429,0.016774,0.036343,0.729656,6.206266,5.999391,광진구,5322
6,16,구로구,0.142509,0.068210,0.282582,2.368588,6.037546,2.702803,9.640065e+06,6,...,410742,0.443101,11.917457,0.017042,0.019477,0.798555,4.199717,6.882666,구로구,5366
7,17,금천구,0.152886,0.071763,0.262090,2.487460,6.212862,2.913826,5.377082e+06,7,...,235154,0.561334,13.884518,0.021263,0.021263,1.020608,4.852139,7.969246,금천구,3645
8,10,노원구,0.184549,0.056867,0.177039,2.535426,5.954351,2.708036,1.287837e+07,8,...,554403,0.292206,7.591950,0.007215,0.016234,0.324674,2.774155,4.469673,노원구,4543
9,9,도봉구,0.132153,0.038147,0.317439,2.453263,6.496179,2.850088,7.232341e+06,9,...,344166,0.520098,5.808244,0.002906,0.008717,0.302180,1.839229,3.655213,도봉구,2438
10,5,동대문구,0.313850,0.138501,0.162643,2.489960,5.945114,2.701473,8.968732e+06,10,...,350647,0.387854,11.336187,0.031371,0.008556,0.470559,4.411844,6.413858,동대문구,4787
11,19,동작구,0.302439,0.093902,0.196341,2.427424,5.953057,2.601606,9.964677e+06,11,...,396217,0.421486,8.404485,0.002524,0.017667,0.999452,3.094264,4.290578,동작구,3227
12,13,마포구,0.212270,0.074847,0.322699,2.343316,6.251337,2.927807,1.155787e+07,12,...,374915,0.776176,14.077858,0.008002,0.021338,1.333636,5.585266,7.129616,마포구,5873
13,12,서대문구,0.169399,0.068306,0.288251,2.353828,5.919954,2.875290,8.711150e+06,13,...,312800,0.581841,9.952046,0.012788,0.003197,0.645780,3.932225,5.358056,서대문구,3665
14,21,서초구,0.181818,0.067879,0.448485,2.557932,6.433749,2.602496,1.473697e+07,14,...,441102,0.299251,10.673268,0.020403,0.029472,1.065513,4.107893,5.449987,서초구,4989
15,3,성동구,0.187675,0.089636,0.383754,2.470277,6.417437,2.780053,8.257649e+06,15,...,304808,0.538044,9.077846,0.003281,0.009842,0.433059,3.516968,5.114695,성동구,3026
16,7,성북구,0.185748,0.049065,0.300234,2.405822,6.359589,2.801941,1.053691e+07,16,...,444055,1.071939,7.733276,0.015764,0.018016,0.389591,3.026652,4.283253,성북구,3744
17,23,송파구,0.210474,0.058300,0.431818,2.504812,6.229548,2.700192,1.796912e+07,17,...,664496,0.270882,8.391322,0.009029,0.001505,0.433411,3.422142,4.525234,송파구,6090
18,14,양천구,0.189676,0.031212,0.349340,2.559659,6.340341,2.806250,9.856272e+06,18,...,471154,0.672816,8.239344,0.006367,0.006367,0.292898,3.374693,4.559019,양천구,4112
19,18,영등포구,0.231920,0.110973,0.230673,2.518909,6.469312,2.613143,1.157088e+07,19,...,368550,0.458554,16.195903,0.040700,0.013567,1.234568,6.251526,8.655542,영등포구,6322
20,2,용산구,0.186306,0.068471,0.324841,2.573449,6.309505,2.855460,7.231509e+06,20,...,229161,0.789838,17.716802,0.004364,0.021819,1.426944,5.873600,10.390075,용산구,4137
21,11,은평구,0.161074,0.067114,0.178971,2.411556,6.013178,2.677141,1.072766e+07,21,...,486794,0.273216,7.976680,0.012326,0.008217,0.472479,2.849255,4.634404,은평구,4501
22,0,종로구,0.166667,0.051136,0.285985,2.500000,6.511649,2.853047,8.061536e+06,22,...,154770,0.917490,26.213090,0.045228,0.064612,1.634684,10.622214,13.846353,종로구,4459
23,1,중구,0.286920,0.130802,0.299578,2.466450,6.155844,2.812771,7.288202e+06,23,...,125709,1.773938,33.283218,0.007955,0.071594,2.123953,14.684708,16.395008,중구,4584
24,6,중랑구,0.204301,0.084827,0.307049,2.402125,6.241611,2.771812,8.772325e+06,24,...,408226,0.406637,11.197229,0.012248,0.007349,0.421335,3.755273,7.001024,중랑구,5041

In [139]:
finalvs.to_csv("data/finalvariableset.csv", sep=',', na_rep="NaN", encoding = "cp949")